# Local pipeline (PostgreSQL)
DB_USER=admin
DB_PASSWORD=adminpassword
DB_HOST=postgres
DB_PORT=5432
DB_NAME=gpu_database
LOCAL_DB_TABLE=gpu_clusters_cleaned
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=adminpassword

# Orchestration
KESTRA_USER=admin@admin.com
KESTRA_PASSWORD=Adminpassword1

# Cloud pipelines (GCS + BigQuery)
GCP_PROJECT_ID=YourProjectID
GCS_BUCKET=YourBucketName
BQ_DATASET=YourBQDataset
BQ_TABLE=YourBQTable